# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app
Code/AppLinux/.vs/AppLinux/FileContentIndex/c8f8384c-9582-47b8-b80b-99d8bc42de4b.vsidx
Code/AppLinux/.vs/AppLinux/FileContentIndex/d5a689a5-cfbd-42bb-b572-c2cd66bad75c.vsidx
Code/AppLinux/.vs/AppLinux/v17/Browse.VC.db
Code/AppLinux/.vs/AppLinux/v17/Browse.VC.db-shm
Code/AppLinux/.vs/AppLinux/v17/Browse.VC.db-wal
Code/AppLinux/.vs/AppLinux/v17/Browse.VC.opendb
